.card {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.card__image {
  height: 413px;
  border-radius: 8px;
  object-fit: cover;
  cursor: pointer;
}

.card__caption {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__title {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 350px;
  margin: 0;
}

.card__delete-button {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 32px;
  height: 32px;
  background: url(../images/delete-icon.svg) rgba(0, 0, 0, 0.3) center no-repeat;
  background-size: 12px 15px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.card__delete-button:hover {
  background-color: #ff6565;
}

.card__like-button {
  width: 23px;
  height: 20px;
  background: url(../images/like-icon.svg) center/contain no-repeat;
  border: none;
  opacity: .4;
  cursor: pointer;
}

.card__like-button:hover {
  opacity: 1;
}

.card__like-button_active {
  background-image: url(../images/like-icon_active.svg);
  opacity: 1;
}

.card__like-button_active:hover {
  opacity: .5;
}

@media screen and (max-width: 630px) {
  .card__image {
    height: 288px;
  }

  .card__title {
    font-size: 16px;
    max-width: 250px;
  }

  .card__like-button {
    width: 20px;
    height: 18px;
  }
}