.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  visibility: hidden;
  opacity: 0;
  padding: 0 10px;
  transition: visibility 0.5s linear, opacity 0.5s linear;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
}

.modal__content {
  position: relative;
  max-width: 730px;
  width: 100%;
  padding: 32px 50px;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 8px;
}

.modal__content_type_image-zoom {
  max-width: 80vw;
  width: unset;
  padding: 0;
}

.modal__content_type_delete {
  max-width: 630px;
}

.modal__close-button {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 32px;
  right: 50px;
  border: none;
  background: transparent url("../images/close.svg") center no-repeat;
  opacity: .4;
  padding: 0;
  cursor: pointer;
}

.modal__close-button_theme_light {
  top: 0;
  right: -48px;
  background-image: url("../images/close-light.svg");
}

.modal__close-button:hover {
  opacity: 1;
}

.modal__title {
  font-size: 32px;
  line-height: 1;
  font-weight: 500;
  color: #212121;
  margin: 0;
}

.modal__title_type_delete {
  font-size: 24px;
  text-align: center;
}

.modal__form {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  margin-top: 32px;
}

.modal__form_type_delete {
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

.modal__label {
  position: relative;
  font-size: 16px;
  line-height: 1.1;
  color: #212121b2;
  font-weight: 500;
}

.modal__input {
  height: 54px;
  width: 100%;
  font-size: 20px;
  line-height: 1;
  font-weight: 500;
  color: #212121;
  border: 1px solid #21212166;
  padding: 16px 12px;
  margin-top: 8px;
  box-sizing: border-box;
  border-radius: 8px;
}

.modal__input_type_error {
  border: 1px solid #ff0000b2;
}

.modal__input::placeholder {
  color: #2121214d;
}

.modal__input:hover {
  border-color: #212121;
}

.modal__error {
  position: absolute;
  top: calc(100% + 2px);
  left: 0;
  display: block;
  visibility: hidden;
  font-size: 14px;
  line-height: 1;
  font-weight: 500;
  color: #ff0000b2;
}

.modal__error_visible {
  visibility: visible;
}

.modal__submit-button {
  width: 156px;
  height: 52px;
  font-size: 16px;
  line-height: 1;
  font-weight: 500;
  color: #fcf5e5;
  background-color: #212121;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.modal__submit-button_inactive {
  opacity: 50%;
  pointer-events: none;
}

.modal__submit-button:hover {
  opacity: .8;
}

.modal__submit-button_type_delete {
  background-color: #ff6565;
  color: #212121;
}

.modal__submit-button_type_delete:hover {
  background-color: #ff3333;
}

.modal__submit-button_type_cancel {
  background-color: #fff;
  color: #212121;
  border: 1px solid #212121;
}

.modal__image {
  display: block;
  max-height: 80vh;
  width: 100%;
  object-fit: contain;
  border-radius: 8px;
}

.modal__caption {
  position: absolute;
  top: calc(100% + 8px);
  left: 0;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  color: #fff;
  background-color: #212121;
  border-radius: 8px;
  margin: 0;
  padding: 4px 8px;
}

@media screen and (max-width: 630px) {
  .modal__content {
    padding: 22px 12px 12px;
  }

  .modal__content_type_image-zoom {
    max-width: none;
    padding: 0;
  }

  .modal__close-button {
    top: 12px;
    right: 12px;
  }

  .modal__close-button_theme_light {
   top: -48px;
   right: 0;
   background-image: url("../images/close-light.svg");
}

  .modal__title {
    font-size: 20px;
  }

  .modal__form {
    row-gap: 24px;
  }

  .modal__form_type_delete {
    max-width: 156px;
    flex-direction: column;
    gap: 12px;
    margin: 20px auto 0;
  }

  .modal__input {
    height: 48px;
    font-size: 16px;
  }

  .modal__submit-button {
    width: 100%;
  }

  .modal__image {
    max-height: none;
  }

  .modal__caption {
    font-size: 16px;
  }
}