.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px solid #21212166;
}

.profile__avatar-container {
  position: relative;
  border-radius: 8px;
}

.profile__avatar {
  display: block;
  width: 190px;
  height: 190px;
  border-radius: 8px;
  object-fit: cover;
}

.profile__avatar-button {
  visibility: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 8px;
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 8px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0 0 12px;
  cursor: pointer;
}

.profile__avatar-button::before {
  display: block;
  content: "";
  width: 16px;
  height: 16px;
  background-image: url(../images/pencil-light.svg);
}

.profile__avatar-button::after {
  content: "Edit avatar";
}

.profile__avatar-container:hover .profile__avatar-button {
  visibility: visible;
}

.profile__info {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: 0 0 0 20px;
}

.profile__name {
  font-size: 32px;
  line-height: 1;
  font-weight: 500;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
  margin: 0;
}

.profile__description {
  font-size: 16px;
  line-height: 1;
  font-weight: 500;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
  margin: 0;
  opacity: .7;
}

.profile__edit-button {
  display: flex;
  gap: 8px;
  color: #212121;
  font-weight: 500;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: auto 0 0;
  opacity: .7;
  cursor: pointer;
}

.profile__edit-button::before {
  content: "";
  width: 16px;
  height: 16px;
  background-image: url(../images/pencil.svg);
}

.profile__edit-button:hover {
  opacity: 1;
}

.profile__add-button {
  width: 149px;
  height: 52px;
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  color: #FCF5E5;
  font-weight: 500;
  background-color: #212121;
  border: none;
  border-radius: 8px;
  padding: 0;
  margin: auto 0 0 auto;
  cursor: pointer;
}

.profile__add-button::before {
  content: "";
  width: 12px;
  height: 12px;
  background: url(../images/plus.svg) center;
}

.profile__add-button:hover {
  opacity: .8;
}

@media screen and (max-width: 630px) {
  .profile {
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
  }

  .profile__avatar {
    width: 80px;
    height: 80px;
  }

  .profile__avatar-button {
    visibility: visible;
    width: 23px;
    height: 23px;
    right: 4.66px;
    bottom: 4.66px;
    left: unset;
    gap: unset;
    align-items: center;
    padding: 0;
    border-radius: 6px;
  }

  .profile__avatar-button::after {
    content: "";
  }

  .profile__info {
    margin: 12px 0 0;
    gap: 6px
  }

  .profile__name {
    font-size: 20px;
    text-align: center;
  }

  .profile__description {
    text-align: center;
  }

  .profile__edit-button {
    align-self: center;
    margin-top: 24px;
  }

  .profile__add-button {
    width: 282px;
    margin: 20px auto 0;
  }
}